_ JQueryHelpers
.sprints
  %h1 Sprints
  %table.sprints
    %thead
      %tr
        %th Name
        %th Start Date
        %th End Date
    %tbody
      - foreach (var sprint in ViewData.Model)
        %tr
          %td= sprint.Name
          %td= sprint.StartDate.ToString("d")
          %td= sprint.EndDate.ToString("d")
          %td
            %div
              =Html.ActionLink("Edit", "Edit", new {id = sprint.Id})
            %div
              =Html.ActionLink("Delete", "Delete", new {id = sprint.Id})
  =Html.ActionLink("New Sprint", "Create")  